body {
    background-color: #fdd9d9;
    font-size: 88%;
    font-family: 'Arial', sans-serif;
    color: #666666;
    line-height: 1.7em;
    text-align: left;
}
#contenedor {
    width: 80%;
    margin: 0 auto;
    float: auto;
    clear: both;
}
#contenedor-cabecera {
    background-image: url("../imagenes/fondo_cabecera.jpg");
    background-repeat: no-repeat;
    padding-top: 20px;
}
.cabecera-principal #logo {
    width: 30%;
    display: block;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: #781a26;
}
a:hover{
    color: #666666;
}
.clear {
    clear: both;
}
.cabecera-principal .nav-principal {
    background-color: #882433;
    height: 40px;
    border: 1px #c13046 solid;
}
.cabecera-principal .nav-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cabecera-principal .nav-principal li {
    color: #fff;
    display: inline;
    float: left;
    margin-right: 3px;
}
.cabecera-principal .nav-principal li a{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    height: 20px;
}
.cabecera-principal .nav-principal li a:hover, .cabecera-principal .nav-principal li a:active {
    background-color: #85b34c;
    color: #000;
    border-radius: 5px;
}
#contenido #articles {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 10px 20px;
    margin-top: 10px;
}
#contenido article img {
    float: left;
    margin-right: 10px;
}
#contenido article span {
    font-style: italic;
    color: #000;
}
#contenido article a.leermas {
    display: block;
    float: right;
    color: #fff;
    padding: 5px 9px;
    background-color: #c13046;
}
#contenido a:hover{
    background-color: #000;
}
#lateral {
    margin-left: 10px;
    width: 100%;
    margin-top: 10px;
}
#lateral .bloque{
    background-color: #fff;
    overflow: hidden;
}
footer {
    background-color: #882433;
    height: 40px;
    border: 1px solid #c13046;
    margin-top: 10px;

}
footer p{
    color: #fff;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
}
#main {
    width: 100%;
}
#contenido {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
}
#articles {
    width: 100%;
}
#aside-xd {
    width: 30%;
}